.b-landing-animation {
  position: absolute;
  width: 100%;
  height: 100vh;
  // display: none;
  overflow: hidden;
  svg {
    position: relative;
    // margin-top: 4%;
    // width: 100%;
    width: 100%;
    height: 100%;
    transition:all 300ms;
    &.active {
      // transform: scale(5) translateY(15%);
    }
  }
  .svg-main {
    opacity: 0;
  }
  .elem-first, .elem-second, .elem-third, .elem-fourth, .elem-fifth, .elem-sixth {
    // -webkit-animation: blink 3s infinite forwards;

    transform-origin: center;
    transform:scale(0.004) ;
  }
  .elem-first {
    -webkit-animation-delay: 300ms;
    transform:scale(0.004) ;
  }
  .elem-second {
    -webkit-animation-delay: 600ms;
    transform:scale(0.004) ;
    // -webkit-animation: blink 1s infinite forwards;
  }
  .elem-third {
    -webkit-animation-delay: 900ms;
    transform:scale(0.004) ;
  }
  .elem-fourth {
    -webkit-animation-delay: 1200ms;
    transform:scale(0.004);
  }
  .elem-fifth {
    -webkit-animation-delay: 1500ms;
    transform:scale(0.004) ;
    // -webkit-animation: blink 1s infinite forwards;
  }
  .elem-sixt {
    transition: none;
    transform-origin: 50% 20%;
    transform: rotateZ(-69.4deg);
  }
}
@-webkit-keyframes blink {
  0% { opacity: 1}
  21% { opacity: 1}
  25% { opacity: 0}
  45% { opacity: 0}
  50% { opacity: 1}
  71% { opacity: 1}
  75% { opacity: 0}
  95% { opacity: 0}
  100% { opacity: 1}
}
