.section--landing {
  .wrapper {
    display: flex;
    align-items: center;
    height: 100vh;
    @include breakpoint(height900){
      height: auto;
    }
    @include breakpoint(mobile){
      display: block;
      height: auto;
    }
  }
}
